<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/pro-request/common.css}" />
<link rel="stylesheet" th:href="@{/css/pro-request/fragments/header.css}" />
<link rel="stylesheet" th:href="@{/css/pro-request/fragments/sidebar.css}" />
<link rel="stylesheet" th:href="@{/css/pro-request/users.css}" />
</head>
<body>
	<div th:replace="~{/pro-request/fragments/header :: header}"></div>
	<div class="container">
		<div th:replace="~{/pro-request/fragments/sidebar :: sidebarAdmin}"></div>
		<div class="content">
			<div class="content-header">
				<span>Employees</span>
				<a class="action-btn">CREATE EMPLOYEE</a>
			</div>	
			<div class="content-body">
				<table>
					<thead>
						<tr>
						
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>
</html>