.header{
	width: 100%;
	background: #1B4965;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header div:nth-child(1){
	font-size: 20px;
	color: #fff;
}